.banner {
    padding: 0!important;
    height: 35rem;
    position: relative;
}

.bannerimg {
    width: 100%;
    height: 100%;
}

.bannerimagem-sobreposicao {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bannerimagem-sobreposicao > h1 {
    font-size: 6rem;
    font-weight: bold;
    color: white;
}

.bannerimagem-sobreposicao > p {
    font-size: 2rem;
    color: white;
}

.bannerimagem-sobreposicao > button {
    width: 11rem;
    height: 4.5rem;
    background: goldenrod;
    color:white;
    border: 0;
    border-radius: 10%;
    font-weight: bold;
    font-size: 1.2rem;
}

.quadradinhos {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.quadradinhos > .quadradinho {
    width: 1rem;
    height: 1rem;
    background: black;
    margin-left: 0.5rem;

}

.quadradinhos > .quadradinho.atual {
    background: rgb(230, 226, 19);
}

.opcoes {
    height: 20rem;

}

.promo {
    height: 27rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

}

.produtos {
    height: 32rem;
    padding-top: 2rem;

 
}

.banner2 {
    height: 25rem;
    padding: 0!important;
    position: relative;
}

.produtos2 {
    height: 30rem;
}

.banner3 {
    height: 15rem;
}

.informacoes {
        padding: 2rem;
        height: 25rem;
}

.final {
    height: 3rem;
}

.box-icones-grandes {
    border-style: solid;
    border-width: 1px;
    height: 20rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
}

.box-icones-grandes:hover {
    color: white;
    background: #ebeb1e;
}

.box-icones-grandes p {
    font-size: 1.5rem;
}

.promoimagem-box {
    position: relative;
}

.promoimagem {
    width: 100%;
    height: 23rem;
}

.promoimagem-sobreposicao {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
}

.promoimagem-sobreposicao > p {
    width: 75%;
    font-size: 1.5rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
}

.promoimagem-sobreposicao > h1 {
    font-size: 3rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
}

.promoimagembotao {
    width: 6rem;
    height: 2rem;
    background: goldenrod;
    color:white;
    border: 0;
    border-radius: 10%;
}

.produtosimagens {
    width: 100%;
    height: 20rem;
    position: relative;
}

.produtosimagensicons {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    display: flex;
    flex-direction: column;
}

.produtosimagensicons > button {
    margin-top: 0.5rem;
    background: goldenrod;
    color:white;
    border: 0;
    border-radius: 10%;
}

.produtosimagens > img {
    width: 100%;
    height: 20rem;
}


.textoprodutos > p {
    font-size: 1.2rem;
}

.textoprodutos > span {
    font-size: 1.2rem;
    font-weight: bold;
}


.banner2img {
    width: 100%;
    height: 100%;
}

.banner2imagem-sobreposicao {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2imagem-sobreposicao > h1 {
    font-size: 4rem;
    font-weight: bold;
}

.banner2imagem-sobreposicao > p {
    font-size: 1.2rem;
    width: 80%;
    left: 80%;
}

.banner2imagem-sobreposicao > button {
    width: 11rem;
    height: 4.5rem;
    background: goldenrod;
    color:white;
    border: 0;
    border-radius: 10%;
    font-weight: bold;
    font-size: 1.2rem;

}

.banner3img {
    width: 100%;
    height: 15rem;
}

.botoes {
    display: flex;
    flex-direction: row;
}

.botoes a {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 0;
    background: goldenrod;
    font-size: 2rem;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconesiniciais {
    background: goldenrod;
    padding: 0.5rem 1rem;
    margin-left: 0.7rem;
    border-radius: 20%;
    border: 0;
    color: white;
}

.iconesiniciais.lupa {
    background: transparent;
    color: goldenrod;
}

.iconesiniciais.valor {
    border: 1px solid goldenrod;
    color: goldenrod;

}

.menu {
    left: 0;
    top: 50px;
    right: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    height: 120px;
    z-index: 999;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 35px;
    align-items: center;

}

.menu.fixadoaotopo {
    background: black;
    position: fixed;
    top: 0;
    height: 60px;
}

.menu > div {
    display: flex;
    list-style: none;

}

.menu > div > li {
    padding: 20px;
}